*,
*:after,
*:before{
    box-sizing: border-box;
}

html{
    font-size: 15px;
}

.body{
    margin: 0;
    padding: 0;
}

.page{

    height: 4100px;
    width: 100%;
    margin: 0px;



}

.header{
    background-color: #e0e0b7;
    text-align: center;
    margin: 0px;
    width: 100vw;
    height: 40px;
    position: absolute;
    top: 0;




}






.title{
    margin-top: 6px;
    font-family: 'Arvo', sans-serif;
    font-size: 1.7rem;
    font-weight: 500;
}

.header-subtitle{
    background-color: black;
    max-width: 100%;
    height:  100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;

}

.header-subtitle-link{
    text-decoration: none;
    width: auto;
}

.title-subtitle{
    color: #ffffff;
    font-family: 'Bebas', sans-serif;
    font-weight: 800;
    font-size: 2rem;
    margin-left: 30px;
}

.images-subtitle{
    display: flex;
    justify-content: space-between;
}

.image-subtitle{
    width: 40px;
    height: 30px;
    margin-top: 30px;
    margin-right: 30px;
}

.image-subtitle1{
    width: 40px;
    height: 40px;
    margin-top: 30px;
    margin-right: 20px;

}

.subtitle-form-catalog{
    display: flex;
    justify-content: space-around;
    align-items: center;
}




.container-subtitle{
    width: 150px;
    height: 40px;
    background-color: #797979;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-top: 5px;
    margin-right: 60px;

}


.container-item{
    width: 30px;
    height: 30px;
    margin: auto;

}


.container-title{
    color: #fff;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: 'Arvo', sans-serif;
    margin: auto;
}


.container-subtitle-input{
    margin: auto;
    margin-right: 80px;
    padding: 0;
    display: flex;
    justify-content: center;
}

.input-search{
    width: 450px;
    height: 40px;
    border: 0;
    border-radius: 0px 0px 0px 0px;;
    margin: auto;
    padding: 5px;
    padding-left: 10px;
    outline: 0;

}


.img-subtitle-input{
    background-color: aliceblue;
    display: inline-block;
    border-radius: 5px 0px 0px 5px;;
    padding-top: 10px;
    padding-left: 5px;


}

.img-subtitle-input1{
    background-color: aliceblue;
    display: inline-block;
    border-radius: 0px 0px 0px 0px;;
    padding-top: 10px;
    padding-right: 10px;

}


.button-subtitle-input{
    font-size: 1.5rem;


}

.btn{
    border: 0;
    background-color: #3ed33e;
    font-size: 1rem;
    height: 40px;
    color: #fff;
    padding: 10px;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
}


.language-subtitle-input{


}

.subtitle-language-choice{
    margin-left: 30px;
    display: flex;
    justify-content: center;
}

.subtitle-language-link{
    margin-top: 10px;
    text-decoration: none;
}

.subitle-item-link{
    text-decoration: none;
}

.language-subtitle-UA{
    color: #fff;
    margin-left: 15px;
    font-weight: 500;
    font-family: 'Arvo', sans-serif;

}

.language-subtitle-RU{
    color: #a7a4a4;
    margin-left: 5px;
    font-weight: 500;
    font-family: 'Arvo', sans-serif;
}

.language-subtitle-border{
    background-color: #777777;
    width: 1px;
    height: 20px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 5px;
}





.aside-items{
    width: 400px;
    border-right: 1px solid rgb(137, 137, 137, 0.3);
    padding-top: 30px;
    border-bottom: 1px solid rgb(137, 137, 137, 0.3);
    height: auto;
    position: sticky;
    top: 0;
}

.aside-items-link{
    text-decoration: none;
    color: #414141;
}

.aside-items-link:hover{
    text-decoration: underline;
    color: #737676;
}


.aside-card-elements{
    margin: auto;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    width: 150px;

}

.card-element{
    margin: auto;

}



.aside-copyright-element{
    margin: auto;
    margin-top: 25px;
    text-align: center;
    color: rgb(108, 108, 108, 0.9);
}

.aside-copyright-title{
   max-width: 170px;
    display: block;
    margin: auto;
      margin-top: 10px;
    margin-bottom: 40px;
}

.aside-copyright-text{
    max-width: 150px;
    display: block;
    margin: auto;
}

.image-item{
    vertical-align: middle;
}


.item{
    margin: auto;
    padding: 0;
    margin-bottom: 15px;
  margin-left: 50px;

}


.item1{
    margin:  auto ;
    margin-top: 30px;
    margin-bottom: 15px;
   margin-left: 50px;
}

.item2{
    text-align: center;
    max-width: 230px;
    margin: 60px auto 0 auto;
    font-size: 1rem;
    color: rgb(108, 108, 108,)

}

.item3{
    text-align: center;
    margin: 40px auto 0 auto;
}

.item4{
    text-align: center;
    margin: 40px auto 0 auto;
}

.aside-items-elements{
    margin: 30px auto 0 auto;

}

.container-aside-elements{
    margin: 50px auto 0 60px;
}



.img-item-container{
    margin-top: 10px;
}

.img-item-link{
    text-decoration: none;
}

.btn-item{
    color: #fff;
    background-color: #3559ef;
    display: block;
    margin: 30px auto 0 auto;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    border: 0;

}

.btn-item:hover{
    background-color: #031e8d;
    cursor: pointer;
}

.image-item-link:hover{
    cursor: pointer;
}

.text-item{
    margin-left: 10px;
    margin-top: 5px;
}


.subtitle-item-elements{
    margin-left: 20px;
    display: flex;
    justify-content: center;
    margin-right: 20px;
}


.item-element{
    margin-right: 20px;
}

.image-item-element1{
    margin-top: 20px;
}

.image-item-element2{
    margin-top: 10px;
}





.main-page{
    margin: auto;
    position: absolute;
    top: 140px;
    left: 460px;
}



.image-main-element{
    width: 1100px;
    height: 400px;
}

.image-main{
    position: relative;
}

.img-main-item1{
    top: 180px;
    left: 18px;
    position: absolute;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.img-main-item2{
    top: 180px;
    right: 8px;
    position: absolute;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.btn-information{
    position: absolute;
    right: 1px;
    top: 400px;
    width: 140px;
    height: 30px;
    border-left: 1px solid rgb(72, 70, 70, 0.3);
    border-right: 1px solid rgb(72, 70, 70, 0.3);
    border-bottom: 1px solid rgb(72, 70, 70, 0.3);
    border-top: 0;
    cursor: pointer;


}

.btn-information:hover{
    text-decoration: underline;
    color: #7dc6c6;
}


.image-main-link{

}


.main-page-title{
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: 'Arvo',sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}

.main-container{
    display: flex;
    flex-direction: row;
}

.container-main-items{
    height: 400px;
    width: 300px;
    background-color: rgb(193, 193, 189, 0.3);
    border: 1px solid rgb(124, 124, 124, 0.2);
    margin: 0 20px 0 0;
    position: relative;
}

.container-main-items:hover{
    background-color: rgb(193, 193, 189, 0.5);
    cursor: pointer;
}

.container-main-link{
    text-decoration: none;

}



.container-image1{
    margin: 100px auto 0 auto;
    display: block;
}

.container-image2{
    margin: 90px auto 0 auto;
    display: block;
}

.container-image3{
    margin: 60px auto 0 auto;
    display: block;
}

.container-image-element{
    position: absolute;
    top: 20px;
    right: 20px;
}
.container-main-title{
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
    font-family: 'Avro', sans-serif;
    max-width: 150px;
    display: block;
    margin: 20px auto 0 auto;
    color: #7c7c7c
}

.container-main-title1{
    font-size: 1.2rem;
    font-weight: 300;
    color: #6f6f6f;
    margin: 20px auto 0 30px;
}

.container-main-cost{
    font-size: 1.8rem;
    font-weight: 500;
    color: #717171;
    margin: 20px auto 0 30px;


}
















